@font-face {
    font-family: 'DigitalClock';
    src: url(digital-7.ttf);
}

body {
    background-color: bisque;
}

button {
    height: 50px;
    width: 50px;
}

#calc-frame {
    background-color: teal;
    height: 400px;
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 10px 5px 5px black;
    border-radius: 10px;
    margin: 25px;
}

#display {
    background-color: black;
    height: 75px;
    width: 250px;
    box-sizing: border-box;
    font-size: 40px;
    font-family: 'DigitalClock';
    color: yellow;
    text-align: right;  
    padding: 25px;  
}

#button-container {
    display: flex;
    box-sizing: border-box;
    height: 275px;
    width: 250px;
    align-items: center;
    justify-content: center;
}

#num-container {
    height: 275px;

}


#numbers {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    height: 275px;
    margin-right: 10px;

}

#operator-container {
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}